


body {
  background-color: green;
}

.card img {
  width: 150px;
  height: 180px;
}

table {
  margin-top:30px;
  border: 5px solid #4b2e2e;
  padding:10px 10px 10px 10px;
  border-collapse: separate;
  border-radius: 10px;
  background-image: url("./images/table.jpg");
  background-size: cover;


}

h1 {
  margin-top: 0px;
}


body {
  background-image: url("./images/bg.jpg");
  background-size: cover;
}
