
.gameHeader {

    font-family: 'Carter One', cursive;
    font-size: 30px;
    color:#383d41;
    margin: 0;


}

input::placeholder {
color: #856404;
}
body {
  background-color: green;
}

.card img {
  width: 150px;
  height: 180px;
}

#gameTable {
  margin-top:30px;
  border: 5px solid #4b2e2e;
  padding:10px 10px 10px 10px;
  border-collapse: separate;
  border-radius: 10px;
  background-image: url("./images/table.jpg");
  background-size: cover;


}

h1 {
  margin-top: 0px;
}


body {
  background-image: url("./images/bg.jpg");
  background-size: cover;
}

.stopWatch{

    font-size: 30px;
    color: white;
    background-color: black;
    border-radius: 3px;
    border-style: solid;
    padding: 0 5px 0px 5px;

    border-width: 3px 3px 3px 3px;
    border-color: white;

}

.bestScore{


    background-color: #121f61;


}
