img {
  width: 150px;
  height: 180px;
}

img.card {
}

img.hovered {

	padding: 5px;
	position: relative;
	box-sizing: border-box;
	transition: all 200ms ease;
}
body {
  background-color: green;
}

table {
  margin-top:30px;
}

div.header {
      background-color: blue;
      text-align: center;
      color: white;
      font-family: cursive;
      margin-top: 1px;
}

h1 {
  margin-top: 0px;
}

body {
  background-image: url("./images/bg.jpg");
}
