#deckSettings {
	display: none;
}

#deckSettingsContent {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translateX(-50%);
	color: white;
	font-family: 'Kaushan Script', cursive;
}

#deckSettingsPrologue {
	color: white;
	font-family: 'Kaushan Script', cursive;
	font-size: 20px
}

#deckSettings .scoreBoardHeader {
	background-color: #383d41;
}

.zoom {
	transition: transform .2s;
	/* Animation */
}

.zoom:hover {
	transform: scale(1.1);
}

.deck {
	border: 2px solid white;
	border-radius: 7px;
	border-color: white;
}

.desc {
	padding-top: 8px;
	font-family: 'Kaushan Script', cursive;
	font-size: 25px;
}
